footer {
  bottom: 0;
  width: 100%;
  background-color: white;
}

.footerBottom {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.socialLinks {
  display: flex;
  align-items: center;
  gap: 20px;
}

.socialLinks a {
  font-size: 24px;
  line-height: 23px;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-grow: 1;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  padding-bottom: 100px;
  padding-top: 100px;
}

.footerTopTable {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 260px;
}

.subscriptionField input::placeholder {
  font-family: Montserrat, sans-serif;
  color: rgba(31, 32, 65, 0.25);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.subsriptionArrow {
  position: absolute;
  padding: 14px;
  left: calc(100% - 47px);
}
