* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background-image: url("../lib/img/image 3.png");
  background-origin: border-box;
  /* background-attachment: fixed; */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}

main {
  min-height: calc(100vh - 70px);
  background-image: url("../lib/img/image 3.png");
  background-origin: border-box;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.containerFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.containerPaddings {
  padding: 0px 140px;
}

.widget {
  background-color: white;
  padding: 40px 30px 30px 30px;
  width: 380px;
  height: fit-content;
}

.landingPaddings {
  padding-top: 70px;
  padding-bottom: 18px;
}

.mainLandingContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.landingBottomText {
  align-self: flex-end;
  text-align: right;
  width: 297px;
}
